{% extends 'base.html' %} {% load static %} {% block extra_css %} {% endblock %} {% block content %}
<div class="scene">
  <div class="stars"></div>
  <div class="moon"></div>
  <div class="sun"></div>
  <div id="clouds">
    <div class="cloud first"></div>
    <div class="cloud second"></div>
    <div class="cloud third"></div>
    <div class="cloud fourth"></div>
    <div class="cloud fifth"></div>
    <div class="cloud sixth"></div>
    <div class="cloud seventh"></div>
    <div class="cloud eighth"></div>
    <div class="cloud ninth"></div>
    <div class="cloud tenth"></div>
  </div>
  <div class="earth"></div>
  <div class="flowers"></div>
  <div id="housesleft">
    <div class="container left">
          <div class="house left">
            <svg>
              <path
                d="M 0 0 L 100 50 L 140 30 L 140 45 L 160 45 L 160 20 L 200 0"
                transform="scale(1, -1) translate(0, -52)"
              />
            </svg>
          </div>
          <div class="text left">
            <span class="stay">FOR</span>
            <span class="stay">SALE</span>
          </div>
        </div>
      </div>
       <div id="housesright">
    <div class="container right">
          <div class="house right">
            <svg>
              <path
                d="M 0 0 L 100 50 L 140 30 L 140 45 L 160 45 L 160 20 L 200 0"
                transform="scale(1, -1) translate(0, -52)"
              />
            </svg>
          </div>
          <div class="text right">
            <span class="stay">FOR</span>
            <span class="stay">SALE</span>
          </div>
        </div>
      </div>
    </div>
  <div class="message">
    Агентство "Риэлтерский Дом"
  </div>
</div>

<div class="main-content">
  <section class="company-logo" data-aos="fade-up">
    {% if company_logo %}
    <img src="{{ company_logo }}" alt="Логотип компании" class="logo-image" />
    <p class="company-name"> </p>
    {% else %}
    <p>Логотип компании отсутствует</p>
    {% endif %}
  </section>

  <section class="latest-news" data-aos="fade-up">
    {% if latest_news %}
    <h2>Последняя новость</h2>
    <div class="news-card">
      <h3>{{ latest_news.0.title }}</h3>
      <p>{{ latest_news.0.summary }}</p>
      <a href="{% url 'news_detail' latest_news.0.id %}" class="btn">Читать далее</a>
    </div>
    {% endif %}
  </section>

  <section class="partners" data-aos="fade-up">
    <h2>Наши партнеры</h2>
    <div class="partners-grid">
      {% for partner in partners %}
      <a href="{{ partner.website }}" class="partner-item">
        <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="partner-logo" />
      </a>
      {% endfor %}
    </div>
  </section>

  <section class="properties" data-aos="fade-up">
    <h2>Наши предложения</h2>
    <div class="properties-grid">
      {% for property in properties %}
      <a
        href="{% if property.property_type == 'apartment' %}
                            {% url 'apartment_detail' property.id %}
                        {% elif property.property_type == 'house' %}
                            {% url 'house_detail' property.id %}
                        {% elif property.property_type == 'commercial_property' %}
                            {% url 'commercial_property_detail' property.id %}
                        {% elif property.property_type == 'garage' %}
                            {% url 'garage_detail' property.id %}
                        {% endif %}"
        class="property-card"
      >
        {% if property.photos_read %}
        <img src="{{ property.photos_read.0.image }}" alt="{{ property.title }}" class="property-image" />
        {% else %}
        <div class="no-image">Фото отсутствует</div>
        {% endif %}

        <h3 class="property-title">{{ property.title }}</h3>

        <p class="property-description">{{ property.description }}</p>
        <p class="property-price">Цена: {{ property.price }}</p>
      </a>
      {% endfor %}
    </div>
  </section>

  <section class="banners" data-aos="fade-up">
    <div class="banners-grid">
      {% for banner in banners %}
      <div class="banner-item">
        <img src="{{ banner.image }}" alt="Banner" class="banner-image" />
      </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}
</div>
