# Игнорировать все папки с именами bin и obj на любом уровне директории
**/bin/
**/obj/

*.log

!Logs/*.txt

*.vscode/

.vs/

.omnisharp/
*.pid
*.db
*.db-shm
*.db-wal

**/packages/
*.nupkg
*.snupkg

project.lock.json
project.fragment.lock.json
artifacts/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

ScaffoldingReadMe.txt

*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

wwwroot/
node_modules/
bower_components/
dist/

**/obj/
**/bin/
*.dll
*.pdb
*.exe
*.cache
*.json
**/wwwroot/"OSISP/Lab2/database.dat" 
