# Игнорировать все папки с именами bin и obj на любом уровне директории
**/bin/
**/obj/

*.log

!Logs/*.txt

*.vscode/

.vs/

.omnisharp/
*.pid
*.db
*.db-shm
*.db-wal

**/packages/
*.nupkg
*.snupkg

artifacts/

.vscode/*

ScaffoldingReadMe.txt

*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

**/obj/
**/bin/
*.dll
*.pdb
*.exe
*.cache
**/wwwroot/"OSISP/Lab2/database.dat"

.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch
