
**/obj/
**/lib/

*.log



*.dll




!Logs/*.txt
node_modules/
*.vscode/
.idea/
__pycache__/
.vs/

.omnisharp/
*.pid
*.db
*.db-shm
*.db-wal

**/packages/
*.nupkg
*.snupkg

artifacts/

.vscode/*

ScaffoldingReadMe.txt

*.user
*.suo
*.userosscache
*.sln.docstates

**/obj/
**/bin/
*.dll
*.pdb
*.exe
*.cache
**/wwwroot/"OSISP/Lab2/database.dat"

.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch

venv/

/node_modules
/.pnp
.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
migrations/
videos/

STRweb/Lab4/back/.env
STRweb/Lab4/front/src/components/CatImage.js