{% extends 'base.html' %}

{% block content %}
<!-- Код карты -->
<div id="map" style="width: 100%; height: 400px;"></div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    ymaps.ready(init);
    function init() {
        var myMap = new ymaps.Map("map", {
            center: [53.907790, 27.588807],
            zoom: 10
        });

        var properties = {{ properties|safe }};

        properties.forEach(function(property) {
            var placemark = new ymaps.Placemark([property.lat, property.lng], {
                hintContent: property.name,
                balloonContent: property.description
            });

            myMap.geoObjects.add(placemark);
        });
    }
</script>
{% endblock %}
