{% extends 'base.html' %}

{% block content %}
<h2>{{ property.title }}</h2>
<p>{{ property.description }}</p>
<p>Цена: {{ property.price }}</p>
<p>Количество комнат: {{ property.num_rooms }}</p>
<p>Площадь: {{ property.area }} кв.м.</p>
<p>Год постройки: {{ property.year_built }}</p>

{% if property.photo %}
    <img src="{{ property.photo.url }}" alt="{{ property.title }}" style="width: 300px;">
{% else %}
    <p>Фото не доступно.</p>
{% endif %}

<a href="{% url 'property-list' %}" class="btn btn-info">Вернуться к списку</a>
{% endblock %}
