@namespace WEB_253504_Frolenko.BlazorWASM.Components
@using WEB_253504_Frolenko.Domain.Entities
@inject IDataService DataService

@if (!DataService.Success)
{
    <p><em>Error: @DataService.ErrorMessage</em></p>
}
else if (DataService.Motorcycles.Count == 0)
{
    <p>No motorcycles available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motorcycle in DataService.Motorcycles)
            {
                <tr>
                    <td>@motorcycle.Name</td>
                    <td>@motorcycle.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => MotorcycleSelected.InvokeAsync(motorcycle.Id)">
                            Подробнее
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@implements IDisposable

@code {
    [Parameter]
    public EventCallback<int> MotorcycleSelected { get; set; }

    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}
