<!DOCTYPE html>
<html lang="ru">
  <head>
    
    <title>{% block title %}Агентство недвижимости{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <h1>{% block header %}Риэлтерский Дом{% endblock %}</h1>
      <nav>
        <ul
          style="list-style: none; display: flex; justify-content: space-evenly"       
        >
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'news_list' %}">Новости</a></li>
          <li><a href="{% url 'about' %}">О компании</a></li>
          <li><a href="{% url 'review_list' %}">Отзывы</a></li>
          <li><a href="{% url 'faq_list' %}">FAQ</a></li>
          <li><a href="{% url 'employee_list' %}">Контакты</a></li>
          <li><a href="{% url 'job_openings_list' %}">Вакансии</a></li>
          <li>
            <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
          </li>
          <li><a href="{% url 'promo_code_list' %}">Промокоды</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Профиль</a></li>
          <li><a href="{% url 'logout' %}">Выйти</a></li>
          <li><a href="{% url 'cart_detail' %}">Корзина</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Вход</a></li>
          <li><a href="{% url 'register' %}">Регистрация</a></li>
          {% endif %}
          <li><a href="{% url 'demonstration' %}">Демонстрационная страница</a></li>
        </ul>
      </nav>
    </header>
    
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <main>
      {% block content %}{% endblock %}
    </main>
    
    <footer>
      <p>© 2024 Риэлтерский Дом. Все права защищены.</p>
      <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
    </footer>
  </body>
</html>
