{% extends 'base.html' %}

{% block content %}
    <div class="company-logo">
        {% if company_logo %}
            <img src="{{ company_logo }}" alt="Логотип компании" style="max-width: 200px; height: auto;">
            <p>Агенство "Риэлтерский Дом"</p>
        {% else %}
            <p>Логотип компании отсутствует</p>
        {% endif %}
    </div>

    <div class="latest-news">
        {% if latest_news %}
            <h2>Последняя новость</h2>
            <h3>{{ latest_news.0.title }}</h3>
            <p>{{ latest_news.0.summary }}</p>
            <a href="{% url 'news_detail' latest_news.0.id %}">Читать далее</a>
        {% endif %}
    </div>

    <div class="partners">
        <h2>Наши партнеры</h2>
        {% for partner in partners %}
            <a href="{{ partner.website }}">
                <img src="{{ partner.logo }}" alt="{{ partner.name }}" style="max-width: 150px; height: auto;">
            </a>
        {% endfor %}
    </div>
    <div class="properties">
        <h2>Наши предложения</h2>
        {% for property in properties %}
            <div class="property">
                {% if property.photos_read %}
                    <img src="{{ property.photos_read.0.image }}" alt="{{ property.title }}" style="max-width: 100px; height: auto;">
                {% else %}
                    <p>Фото отсутствует</p>
                {% endif %}

                <h3>
                    {% if property.property_type == 'apartment' %}
                        <a href="{% url 'apartment_detail' property.id %}">{{ property.title }}</a>
                    {% elif property.property_type == 'house' %}
                        <a href="{% url 'house_detail' property.id %}">{{ property.title }}</a>
                    {% elif property.property_type == 'commercial_property' %}
                        <a href="{% url 'commercial_property_detail' property.id %}">{{ property.title }}</a>
                    {% elif property.property_type == 'garage' %}
                        <a href="{% url 'garage_detail' property.id %}">{{ property.title }}</a>
                    {% endif %}
                </h3>
    
                <p>{{ property.description }}</p>
                <p>Цена: {{ property.price }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="banners">
        {% for banner in banners %}
            <a href="{{ banner.link }}">
                <img src="{{ banner.image }}" alt="Banner">
            </a>
        {% endfor %}
    </div>
{% endblock %}
