{% extends 'base.html' %}

{% block title %}Вакансии{% endblock %}

{% block content %}
<section>
    <h2>Вакансии</h2>
    <div>
        {% for job in job_openings %}
        <div style="border: 1px solid #ddd; border-radius: 5px; padding: 15px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <h3>{{ job.title }}</h3>
            <p><strong>Описание:</strong> {{ job.description }}</p>
            <p><strong>Местоположение:</strong> {{ job.location }}</p>
            <p><strong>Требования:</strong> {{ job.requirements }}</p>
            <p><strong>Обязанности:</strong> {{ job.responsibilities }}</p>
            <p><strong>Дата публикации:</strong> {{ job.posted_date }}</p>
        </div>
        {% empty %}
        <p>На данный момент вакансий нет.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
