{% extends 'base.html' %}

{% block content %}
    <h2>Действующие промокоды</h2>
    <table>
        <tr>
            <th>Код</th>
            <th>Скидка</th>
            <th>Дата окончания</th>
        </tr>
        {% for promo in active_promo_codes %}
            <tr>
                <td>{{ promo.code }}</td>
                <td>{{ promo.discount }}%</td>
                <td>{{ promo.expiration_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет активных промокодов</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Архивные промокоды</h2>
    <table>
        <tr>
            <th>Код</th>
            <th>Скидка</th>
            <th>Дата окончания</th>
        </tr>
        {% for promo in archived_promo_codes %}
            <tr>
                <td>{{ promo.code }}</td>
                <td>{{ promo.discount }}%</td>
                <td>{{ promo.expiration_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет архивных промокодов</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
