{% extends 'base.html' %} {% block title %}Часто задаваемые вопросы{% endblock %} {% block content %}
<section class="faq-section">
  <h2 class="faq-title">Часто задаваемые вопросы</h2>
  <div class="faq-container">
    {% for faq in faqs %}
    <details class="faq-item">
      <summary>{{ faq.question }}</summary>
      <div class="faq-answer">
        <p>{{ faq.answer }}</p>
        <p><small>Дата добавления: {{ faq.added_date|date:"d.m.Y" }}</small></p>
      </div>
    </details>
    {% empty %}
    <p>Вопросы отсутствуют.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
