{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Задача 7: Class/Extends</title>
  </head>
  <body>
    <h1>Class/Extends</h1>
    <form id="residentForm">
      <input type="text" id="lastName" placeholder="Фамилия" />
      <input type="text" id="city" placeholder="Город" />
      <input type="text" id="street" placeholder="Улица" />
      <input type="text" id="houseNumber" placeholder="Номер дома" />
      <input type="text" id="apartmentNumber" placeholder="Номер квартиры" />
      <button type="button" onclick="addResident()">Добавить жителя</button>
    </form>
    <ol id="residentsList"></ol>
    <div id="matchingResidents"></div>
    <button type="button" onclick="findMatchingResidents()">Найти совпадения</button>

    <script src="{% static 'js/task7_class.js' %}"></script>
  </body>
</html>
