@model WEB_253504_Frolenko.Domain.Models.ListModel<WEB_253504_Frolenko.Domain.Entities.Motorcycle>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Каталог Мотоциклов";

    var categories = ViewBag.Categories as List<WEB_253504_Frolenko.Domain.Entities.Category> ?? new
    List<WEB_253504_Frolenko.Domain.Entities.Category>();
}

<div class="container">
    <h1>Каталог Мотоциклов</h1>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    @ViewBag.CurrentCategory
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category=""
                            asp-route-pageNo="1">Все Мотоциклы</a>
                    </li>
                    @foreach (var cat in categories)
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Product" asp-action="Index"
                                asp-route-category="@cat.NormalizedName" asp-route-pageNo="1">
                                @cat.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Components/Product/_ProductsListPartial.cshtml", Model)

</div>

@section Scripts {
    <script src="~/scripts/site.js"></script>
}
